<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

</head>

<body style="padding: 50">
    <h1>A Simple Homepage</h1>
    <div>
        <% if(isAuthenticated){ %>
            <form action="/logout" method="POST">
                <button style="margin-right: 20; cursor: pointer;">Logout</button>
            </form>

            <form action="/user" method="GET">
                <button style="cursor: pointer;">View Users</button>
            </form>
            <% } else{ %>
                <form action="/login" method="GET">
                    <button style="cursor: pointer;">Login</button>
                </form>

                <% } %>

    </div>
</body>

</html>